<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AppWeatherIT</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>ControllerWeather</display-name>
  	<servlet-name>ControllerWeather</servlet-name>
  	<servlet-class>com.weather.controller.ControllerWeather</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginController</display-name>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>com.weather.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RegistrationController</display-name>
  	<servlet-name>RegistrationController</servlet-name>
  	<servlet-class>com.weather.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RegisterFinal</display-name>
  	<servlet-name>RegisterFinal</servlet-name>
  	<servlet-class>com.weather.controller.RegisterFinal</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ScheduleController</display-name>
  	<servlet-name>ScheduleController</servlet-name>
  	<servlet-class>com.weather.controller.ScheduleController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ScheduleDao</display-name>
  	<servlet-name>ScheduleDao</servlet-name>
  	<servlet-class>com.weather.dao.ScheduleDao</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UnsubscribeController</display-name>
  	<servlet-name>UnsubscribeController</servlet-name>
  	<servlet-class>com.weather.controller.UnsubscribeController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerWeather</servlet-name>
  	<url-pattern>/ControllerWeather</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationController</servlet-name>
  	<url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterFinal</servlet-name>
  	<url-pattern>/RegisterFinal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ScheduleController</servlet-name>
  	<url-pattern>/ScheduleController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ScheduleDao</servlet-name>
  	<url-pattern>/ScheduleDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UnsubscribeController</servlet-name>
  	<url-pattern>/UnsubscribeController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>